body {
    margin: 0;
    background-color: rgb(15, 118, 136);
}

.displayflex {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

header {
    background-color: rgb(6, 95, 110);
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    background-color: rgb(15, 118, 136);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.button_style {
    display: flex;
    justify-content: center;
    background-color: rgb(15, 118, 136);
    padding-top: 32px;
    padding-bottom: 112px;
}

.loading_button {
    border-radius: 25px;
    border-style: none;
    height: 40px;
    cursor: pointer;
}

.loading_button:hover {
    background-color: rgb(255, 0, 0);
}

.navbar {
    background-color: rgb(6, 95, 110);
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-brand {
    cursor: pointer;
}

.pokemon_img {
    width: 150px;
}

.fire {
    background-color: orange;
}

.water {
    background-color: rgba(48, 125, 240, 0.74);
}

.grass {
    background-color: rgb(51, 255, 0);
}

.bug {
    background-color: rgb(55, 206, 17);
}

.normal {
    background-color: white;
}

.electric {
    background-color: yellow;
}

.fighting {
    background-color: rgb(255, 0, 0);
}

.ground {
    background-color: brown;
}

.flying {
    background-color: rgb(78, 185, 247);
}

.poison {
    background-color: rgb(48, 240, 0);
}

.dark {
    background-color: black;
}

.fairy {
    background-color: pink;
}

.steel {
    background-color: rgb(122, 154, 180);
}

.ice {
    background-color: rgb(203, 230, 255);
}

.psychic {
    background-color: rgb(206, 17, 197);
}

.rock {
    background-color: grey;
}

.ghost {
    background-color: beige;
}

.dragon {
    background-color: rgb(190, 204, 0);
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.pokemon_card {
    cursor: pointer;
    border-style: solid;
    border-color: white;
}

.pokemon_card:hover {
    box-shadow: 0 16px 16px 0;
    border-style: none;
    padding: 3px;
}

.pokemon_card_close {
    background-color: rgb(15, 118, 136);
    width: 250px;
    height: 390px;
    cursor: pointer;
}

.space_around {
    display: flex;
    justify-content: space-around;
    background-color: #21217ca1;
}

.style_pokemon_closelook {
    display: flex;
    justify-content: center;
}

.backgroundcolor_stats {
    background-color: #21217ca1;
}

.style_border_stats {
    background-color: #220d90;
    width: 1px;
}

.styly_div_underline {
    display: flex;
    justify-content: space-between;
}

.style_underline {
    width: 125px;
    height: 1px;
}

.close_overlay {
    position: relative;
    top: -145px;
    right: -245px;
    cursor: pointer;
    color: orange;
}

.style_onclick_stats {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-next {
    position: relative;
    top: -14px;
    left: 227px;
    font-size: 40px;
    width: 40px;
    color: orange;
}

.button-previous {
    position: relative;
    top: 32px;
    font-size: 40px;
    width: 40px;
    color: orange;
}
span {
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
}

.button {
    height: 21px;
    background-color: green;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
}

.button-2 {
    height: 21px;
    background-color: green;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

.search_bar {
    display: flex;
    align-items: center;
}

.alert_searchbar {
    display: none;
}

.overflow {
    overflow: hidden;
}

.content_limit {
    max-width: 1440px;
    width: 100vw;
}

footer {
    height: 80px;
    background-color: rgb(6, 95, 110);
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.header_img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header_title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pokemon_name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.loadingspinner {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.spinner {
    position: relative;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
    border-radius: 50%;
    border: 8px solid black;
    animation: spin 1s linear infinite;
  }
  
  .spinner::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100px;
    background: black;
    top: 50px;
    transform: translatey(-50%);
  }
  
  .spinner::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: white;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
  
  }
  
  /* Spin Animation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .poke_types {
    display: flex;
    flex-direction: column;
  }

@media (max-width: 450px) {
    h1 {
        display: none;
    }

    .header {
        align-items: center;
        height: 60px;
    }
    footer {
        height: 40px;
    }
}

@media (max-width: 320px) {
    footer {
        display: none;
    }
}

@media (max-width: 600px) {
    .button {
        display: none;
    }
    .button-2 {
        display: flex;
    }
    input {
        width: 100px;
    }
}